.emptyDiv {
    background-color: rgba(255, 235, 216, .25);
    display: center;
}

.well { 
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    cursor: pointer;
    background-color: #EBEB73;

}

body{
    background-color: #FAC8A5;
 
}

#displayRules{
    align: center;
}


.jeopardy-logo{
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.panel-footer {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    background-color: rgba(255, 235, 216, .25);
}

.panel{
    font-family: "Raleway", sans-serif;
    background-color: blue;
}


.choices{
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    text-align: center;
}

.prompt{
    font-family: "Raleway", sans-serif;
    text-align: center;
}