.emptyDiv {
    display: center:
}

body{
    background-color: lightblue;
}

#displayRules{
    text-align: center;
}

.jeopardy-logo{
    font-size: 80px;
    font-family: "gyparody", sans-serif;
    text-align: center;
}

.well { 
    text-align: center;
    cursor: pointer;
    background-color: lightgoldenrodyellow;
}

.choices{
    font-family: "Avenir Book", sans-serif;
    cursor: pointer;
    text-align: center;
}

.prompt{
    font-family: "Avenir Book", sans-serif;
    text-align: center;
}