.emptyDiv {
    display: center;
}

.well { 
    text-align: center;
    cursor: pointer;
    background-color: #EBEB73;
}

body{
    background-color: #FDC498;
}

#displayRules{
    text-align: center;
}

.jeopardy-logo{
    font-size: 80px;
    font-family: "", sans-serif;
    text-align: center;
}

.panel-footer {
    background-color: rgba(248, 152, 68, 0.34)
}

.panel-heading{
    background-color: blue;
}


.choices{
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    text-align: center;
}

.prompt{
    font-family: "Raleway", sans-serif;
    text-align: center;
}